.otp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.otp div{
    margin-top: 10px;
    width: 15%;
}
.otp div input{
    width: 100%;
    text-align: center;
    border-bottom: 0;
    background-color: #FCD4C7 ;
    border: none;
    outline: none;
    font-size: 20px;
    margin-bottom: 10px;
}
.label{
    text-transform: capitalize;
    color: gray;
}