.header{
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerContent{
    width: 200px;
    height:200px;
    background-color: rgba(255, 255, 255, 0.795);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: capitalize;
    position: relative;
    z-index: 200;
}
.headerContent h3{
    margin-bottom: 15px;
}
.headerContent::before{
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}