.resetPasswordImg{
    width: 40% !important;
    margin-right: 100px;
}
.resetPassword{
    width: 55%;
}
@media (max-width:992px) {

    .resetPasswordImg {
        width: 35% !important;
    }
    .resetPassword{
        width: 55%;
    }

}
@media (max-width: 767px) {

    .resetPasswordImg {
        width: 90% !important;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .resetPassword{
        width: 90%;
    }
}

