.productCategoryType1{
    padding: 30px;
    text-align: center;
    background-color:#F7E2DD ;
    width: 30%;
}
.productCategoryType1 img{
    width: 90%;
    height: 250px;
}
.productCategoryType1 h4 {
    margin: 30px;
    text-transform: capitalize;
}

.productCategoryType1 button {
    background-color: #f46f4d;
    border: none;
    color: white;
    text-transform: capitalize;
    font-size: 12px;
    padding: 7px 10px;
    margin-right: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow:  1px 4px 16px #e79e86;
    
}
@media (max-width:992px) {
    .productCategoryType1{
        width: 90%;
        margin: 20px auto;
    }
}